body {
    border-left: var(--border);
    border-right: var(--border);
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    height: 100vh;
    /* overflow: hidden; */
}

header {
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--white);
    z-index: 10;
}

form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: absolute;
    top: 5rem;
    left: 0;
    height: calc(100vh - 5rem);
}

/* 
 * Questions
*/
main {
    border-right: var(--border);
    overflow-y: auto;
}

main > .question-container {
    border-bottom: var(--border);
    padding: 1rem 2rem;
    width: 100%;
}

main > .question-container > .question {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    justify-items: start;
    align-items: baseline;
}

main > .question-container > .question > .question-body {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
    width: 100%;
}

main > .question-container > .question > .question-body textarea{
    padding: 1rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--pure-white);
    height: 10rem;
}

main > .question-container > .question > .question-body .image{
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    text-align: center;
    /* height: 15rem; */
    /* background-color: var(--gray); */
}

main > .question-container > .question > .question-body .image img {
    height: 15rem;
}

/* main > .question-container > .question > .upload-image-btn { */

main > .question-container > .question > .upload-image-btn > input {
    display: none;
}




main > .question-container > p.text-condensed {
    padding: 1rem 0 0;
}

main > .question-container > .answers {
    width: 100%;
    padding: 1rem 0;
}

main > .question-container > .answers > div {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.5fr;
    padding: 0.25rem 2rem;
    width: 100%;
    align-items: baseline;
}

main > .question-container > .answers > div > textarea{
    padding: 1rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--pure-white);
}

main > .actions {
    padding: 1rem 2rem;
    height: 40vh;
}

main > .actions > .text-condensed {
    padding: 0.5rem 0 1rem;
}

main > .actions > .btn-secondary {
    padding: 1rem  0.5rem;
    margin: 0.5rem 0.8rem;
}

/* 
 * Side Menu
*/
aside {
    overflow-y: auto;
    padding-bottom: 30vh;
}

aside > .tabs-container {
    width: 100%;
    position: relative;
}

aside > .tabs-container > .tabs-title {
    background-color: var(--white);
    border-bottom: var(--border);
    display: flex;
    align-items: flex-end;
    height: 4rem;
}

aside > .tabs-container > .tabs-title > .btn-primary {
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5rem;
}

aside > .tabs-container > .tabs-title > .btn-primary.active {
    border-bottom: 0.3rem solid var(--black);
}

aside > .tabs-container > .tabs > div.active {
    display: block;
}

aside > .tabs-container > .tabs > div {
    display: none;
    padding: 1rem 0;
}

aside > .tabs-container > .tabs  div > .text-condensed {
    padding: 0 0.5rem 0.5rem;
    display: block;
}

aside > .tabs-container > .tabs  div > input,
aside > .tabs-container > .tabs  div > textarea {
    display: block;
    margin: 0 1rem 1.5rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    border: var(--border);
    background-color: var(--pure-white);
    border-radius: 10px;
}
/* Meta Data  */
aside > .tabs-container > .tabs > div#meta_data input:first-child {
    height: 13rem;
}

aside > .tabs-container > .tabs > div#meta_data > input:last-child {
    width: fit-content;
}

/* Instructions Tab */
aside > .tabs-container > .tabs > div#instructions > textarea{
    height: 6rem;
}

/* Go to Tab */
aside > .tabs-container > .tabs > div#goto {
    padding: 1rem 2rem;
}

aside div#goto a.goto {
    width: 2rem;
    height: 2rem;
    border: var(--border);
    padding: 0.5rem 0;
    margin: 0.25rem;
    text-align: center;
    background-color: transparent;
    display: inline-block;
}

aside div#goto a.goto:hover {
    border-color: var(--black);
}

aside div#goto a.goto.active {
    border-color: var(--black);
    background-color: var(--light-blue);
}

aside > .actions {
    border-top: var(--border);
    padding: 2rem 0;
}

aside > .actions > p.text-condensed {
    padding: 0 0.5rem 1rem;
}

aside > .actions > p:nth-child(2) {
    padding: 1rem ;
}

aside > .actions > button {
    margin-left: 1rem ;
}