body {
    border-left: var(--border);
    border-right: var(--border);
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    height: 100vh;
    /* overflow: hidden; */
}

/**
 * Header and Progress
 */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: var(--border);
    background-color: var(--white);
    z-index: 10;
}

header > .timer-container {
    display: flex;
    align-items: center;
    border-right: var(--border);
}

header > .timer-container > p {
    padding-left: 1rem;
}

header > .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.progress-container > .progress {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.progress-container > .progress > .progress-bar {
    height: 0.8rem;
    margin-top: 0.5rem;
    border: var(--border);
    position: relative;
}

.progress-container > .progress > .progress-bar > .bar {
    background-color: var(--gray);
    width: 0%;
    height: 100%;
    position: absolute;
}

.progress-container > .progress >.questions-stats {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

/**
 * Questions and Answers
 */
main .question-container.active{
    display: grid;
}

main .question-container{
    display: none;
    position: absolute;
    top: 10vh;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
    width: 100%;
}


main .question-container > .question {
    border-right: var(--border);
    padding: 1rem;
    overflow-y: auto;
}

main .question-container > .question > .question-body {
    padding: 1rem 2rem;
}

main .question-container > .question > .question-body > .image {
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
    text-align: center;
}

main .question-container > .question > .question-body > .image img {
    height: 15rem;
}

main .question-container > .answers {
    padding: 1rem;
    overflow-y: auto;
    /* padding-bottom: 5rem; */
}

main .question-container > .answers > input {
    display: none;
}

main .question-container > .answers > .option {
    padding: 2rem 1rem 2rem 4rem;
    border: var(--border);
    border-radius: 10px;
    background-color: var(--pure-white);
    width: 100%;
    display: block;
    margin: 1rem 0;
    position: relative;
}

main .question-container > .answers > .option:hover {
    border-color: var(--black);
}

main .question-container > .answers > .option > .text-lg {
    color: var(--gray);
    display: block;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

main .question-container > .answers > input:checked + label {
    border-color: var(--black);
    background-color: var(--light-blue);
}

main .question-container > .answers > input:checked  + label > .text-lg {
    color: var(--white);
}

main .question-container > .answers > button {
    border: none;
    background: none;
    margin-top: 1rem;
}

/* 
 * Finish Attempt Screen
 */
 .finish-attempt-container.active {
    display: block;
 }

 .finish-attempt-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 20;
    overflow-y: auto;
}

section.finish-attempt {
    padding: 15vh 15vw;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

section.finish-attempt >.confirmation > div {
    margin: 2rem 0;
}

section.finish-attempt > nav.goto-questions {
    height: 35vh;
    overflow-y: auto;
    margin: 1rem 0;
}

section.finish-attempt > nav.goto-questions > .goto {
    margin: 0.2rem;
}

section.finish-attempt > div.actions > .btn-primary {
    margin: 0.5rem;
}

section.finish-attempt > div.actions > .btn-primary:first-child {
    background-color: transparent;
    border: var(--border);
}

/**
 * FOoter and Question Nav
*/
footer {
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: var(--border);
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    z-index: 10;
}

footer > button.btn-primary:first-child {
    background-color: transparent;
    border: var(--border);
}

footer > nav {
    height: 3.2rem;
    width: 35vw;
    overflow-x: auto;
    white-space: nowrap;
}

.goto {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: var(--border);
    padding: 0.5rem 0;
    margin: 0 0.25rem;
    text-align: center;
    background-color: transparent;
}

.goto:hover {
    border-color: var(--black);
}

.goto.active {
    border-color: var(--black);
    background-color: var(--light-blue);
}


/**
 * Tab and Mobile Version
*/

@media all and (max-width: 768px) {
    /* Header */
    header {
        grid-template-columns: 1fr;
        justify-items: stretch;
    }

    header > .timer-container {
        grid-row: 2;
        border-right: none;
    }

    header > .timer-container > p {
        text-align: center;
        padding: 0;
        width: 100%;
        font-size: 2.125rem;
    }

    /* Question and Answers */
    main .question-container {
        grid-template-columns: 1fr;
        /* height: calc(100vh - 25vh); */
        height: 75vh;
    }

    main .question-container > section.question {
        border-right: none;    
    }
    
    /* Footer and Question Nav */
    footer {
        height: 15vh;
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer > nav {
        grid-area: 1/1/1/3;
        width: 50vw;
    }

}