main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 5rem 1rem 0;
}

main > .exam-info {
    width: 35rem;
    padding: 1rem;
}

main > .exam-info > .exam-details {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.exam-info > .exam-instructions > p.text-md {
    padding: 1rem;
}

.exam-info > .exam-instructions > ol {
    padding: 0.2rem 1rem;
    list-style-type: ">>"; 
    margin-left: 1.5rem;
}

.exam-info > .exam-instructions > ol > li {
    padding: 0.3rem;
}

main > .submit {
    margin-top: 5rem;
    width: 35rem;
    padding: 1.5rem 3rem;
}
@media all and (max-width:425px) {
    main > .exam-info,
    main > .submit{
        width: 20rem;
    }
    
}
